@import '../node_modules/@samply/lens/dist/style.css';

@font-face {
	font-family: SourceSansPro;
	src: url(/static/fonts/Source_Sans_Pro);
}

:root {
	--white: #ffffff;
	--ghost-white: #f8f8ff;
	--black: #000000;
	--gray: #a7a7a7;
	--light-gray: #C5CFD5;
	--lightest-gray: #efefef;
	--dark-gray: #3C3C3D;
	--blue: #003674;
	--light-blue: #007bff;
	--lightest-blue: #adc7f3;
	--dark-blue: #002d80;
	--green: #00882d;
	--light-green: #00b33c;
	--dark-green: #00591a;
	--red: #b90000;
	--light-red: #ff0000;
	--dark-red: #800000;
	--orange: #E95713;
	--light-orange: #ffa750;

	--border-radius-small: 5px;

	--gap-xxs: 5px;
	--gap-xs: 10px;
	--gap-s: 16px;
	--gap-m: 30px;
	--gap-l: 40px;
	--gap-xl: 50px;
	--gap-xxl: 60px;

	--font-size-xxs: 10px;
	--font-size-xs: 12px;
	--font-size-s: 14px;
	--font-size-m: 16px;
	--font-size-l: 18px;
	--font-size-xl: 24px;
	--font-size-xxl: 32px;

	--font-family: 'Source Dans Pro', sans-serif;
}

/**
* Demo
*/

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: var(--font-family);
}

button {
	font-family: inherit;
}

header {
	background-color: var(--white);
	padding: var(--gap-s);
	border-bottom: solid 1px var(--light-gray);
	display: grid;
}

.menu {
	text-align: center;
	margin-bottom: 0;
	margin-top: var(--gap-l);
	padding-inline-start: 0;
}

.menu a {
	color: var(--dark-gray);
	text-decoration: none;
	padding-left: var(--gap-xs);
	padding-right: var(--gap-xs);
}

@media screen and (min-width: 768px) {
	header {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
	}

	.menu {
		margin-top: 0;
	}

}

.banner {
	margin: auto;
	max-width: fit-content;
	padding: var(--gap-l);
}

.banner h1 {
	margin: 0;
	font-size: var(--font-size-xxl);
	font-weight: normal;
	color: var(--orange);
}

.banner h2 {
	margin: 0;
	font-size: var(--font-size-xl);
	font-weight: normal;
	color: var(--blue);
}

main {
	margin: 0 var(--gap-s);
}

@media screen and (min-width: 1024px) {
	main {
		max-width: calc(1024px - 2 * var(--gap-s));
		margin: 0 auto;
	}
}
.search-wrapper {
	padding: var(--gap-m) 0;
}

@media screen and (min-width: 1024px) {
	.search-wrapper {
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		z-index: 1;
		padding: var(--gap-m) 0;
		background-color: var(--white);
	}
}

.search {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: var(--gap-s);
	padding: var(--gap-m);
	border-radius: var(--border-radius-small);
	background-color: var(--light-gray);
	justify-content: end;
}

lens-search-bar-multiple {
	grid-column: 1/-1;
}

@media screen and (min-width: 768px) {
	.search {
		grid-template-columns: minmax(0, 1fr) auto auto;
	}

	lens-search-bar-multiple {
		grid-column: 1/2;
	}


}

.grid {
	position: relative;
	display: grid;
	grid-template-columns: 400px 1fr;
	grid-gap: var(--gap-m);
}

.catalogue-toggle-button {
	margin-bottom: var(--gap-l);
	padding: var(--gap-xs) var(--gap-s);
	background-color: var(--blue);
	color: var(--white);
	border: none;
	border-radius: var(--border-radius-small);
	cursor: pointer;
	font-size: var(--font-size-m);
	position: relative;
}

.catalogue-toggle-button img {
	height: 30px;
	filter: brightness(0) invert(1);
	position: absolute;
	top: 4px;
	left: 8px;
	transform: rotate(90deg);
	transition: transform 0.3s;
}

.catalogue-toggle-button span {
	margin-left: var(--gap-m);
}

.catalogue {
	overflow: hidden;
	padding-left: var(--gap-s);
	margin-bottom: var(--gap-xl);
	transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
	max-height: 0;
	position: relative;
}

.catalogue.open {
	transition: max-height 0.5s cubic-bezier(0.74, 0.13, 1, 0.1);
	max-height: 2000px;
	padding-left: var(--gap-s);

}

.catalogue h2 {
	margin: 0;
	margin-bottom: var(--gap-s);
	font-size: var(--font-size-l);
	font-weight: 400;
	color: var(--dark-gray);
}

.charts {
	display: grid;
	grid-gap: var(--gap-s);
}

@media screen and (min-width: 769px) {
	.charts {
		grid-template-columns: repeat(2, 1fr);
	}

}

.chart-wrapper {
	padding: var(--gap-s);
	background-color: var(--white);
	border-radius: var(--border-radius-small);
	border: solid 1px var(--light-gray);
	display: grid;
}

.result-summary {
	grid-column: 1/-1;
	border: none;
}

lens-result-summary {
	grid-template-columns: 1fr auto;
}

lens-result-summary::part(result-summary-content) {
	gap: var(--gap-l);
}


@media screen and (min-width: 768px) {
	.chart-diagnosis {
		grid-column: 1/-1;
	}
}

@media screen and (min-width: 1024px) {
	.charts {
		grid-template-columns: repeat(4, 1fr);
	}

	.result-table {
		grid-column: 1/-1;
	}

	.chart-sample-kind {
		grid-column: span 2;
	}

	.chart-diagnosis {
		grid-column: 1/-1;
	}
}

footer {
	text-align: center;
	display: grid;
	grid-gap: var(--gap-m);
	padding: var(--gap-s);
	border: solid 1px var(--light-gray);
	margin-top: var(--gap-xxl);
}

footer img {
	margin: auto;
}

@media screen and (min-width: 1024px) {
	footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	

	}
}

footer a {
	color: var(--black);
}

footer a:hover {
	color: var(--orange);
}

.made_with {
	margin-top: 12px;
	margin-right: 12px;
}

.made_with a {
	margin-left: -8px;
}

.imprint {
	border-right: none;
}

.result-table-hint-text {
	padding-top: 20px;
	display: flex;
	align-items: end;
}

/**
* Overrides
*/

/**
  Searchbars
*/

lens-search-bar-multiple::part(lens-searchbar) {
	padding: var(--gap-xxs) var(--gap-xxs);
}

lens-search-bar-multiple::part(lens-searchbar-chips) {
	gap: var(--gap-xxs);
}

lens-search-bar-multiple::part(lens-searchbar-add-button) {
	height: 40px;
	align-self: center;
}

lens-search-bar-multiple::part(lens-searchbar-add-button):hover {
	opacity: 0.8;
}

lens-search-bar-multiple::part(lens-searchbar-chip) {
	padding: var(--gap-xxs) var(--gap-xs);
}

lens-search-bar-multiple::part(info-button) {
	background-color: var(--blue);
	border-color: var(--blue);
	position: relative;
	border: 0;
	margin-left: -10px;
	display: inline-flex;
	width: 30px;
}

lens-search-bar-multiple::part(info-button-icon) {
	filter: brightness(0) invert(1);
	cursor: pointer;
	width: 20px;
	position: absolute;
	top: -13px;
}

lens-search-bar-multiple::part(info-button-icon):hover {
	filter: brightness(0) invert(1);
}

lens-search-bar-multiple::part(info-button-dialogue) {
	position: absolute;
	border: none;
	background-color: var(--white);
	width: max-content;
	max-width: 200px;
	z-index: 100;
	padding: var(--gap-s);
	top: calc(var(--gap-m) + 4px);
	right: -20px;
	border: solid 1px var(--light-blue);
	border-radius: var(--border-radius-small);
	text-align: left;
}

lens-search-bar-multiple::part(query-delete-button-item) {
	border-color: var(--white);
}

lens-search-bar-multiple::part(query-delete-button-group) {
	background-color: var(--white);
	border-color: var(--white);
}

lens-search-bar-multiple::part(query-delete-button-value) {
	background-color: var(--blue);
	font-size: var(--font-size-xs);
	height: 16px;
	width: 16px;
	margin: 0 var(--gap-xxs) 0 0;

}

.search-wrapper lens-info-button {
	height: 40px;
	align-self: center;
	justify-self: end;
}

lens-search-bar-multiple::part(query-delete-button-value):hover {
	color: var(--orange);

}

lens-search-button {
	height: 40px;
	align-self: center;
}

lens-search-button::part(lens-search-button) {
	background-color: var(--blue);
}

lens-search-button::part(lens-search-button):hover {
	opacity: 0.8;
}

lens-search-button::part(lens-search-button):active {
	background-color: #003d7e;
	transform: translateX(1px);
}

/**
  Catalogue
*/

lens-catalogue::part(lens-catalogue) {
	padding-left: 8px;
}

lens-catalogue::part(autocomplete-formfield-input):focus {
	border-color: var(--blue);
}

lens-catalogue::part(query-add-button):hover {
	opacity: 0.8;
}

lens-catalogue::part(number-input-formfield):focus {
	border-color: var(--blue);
	outline: none;
}

lens-catalogue::part(number-input-formfield):focus {
	border-color: var(--blue);
	outline: none;
}

lens-catalogue::part(number-input-formfield)::-webkit-outer-spin-button,
lens-catalogue::part(number-input-formfield)::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

lens-catalogue::part(data-tree-element-child-category),
lens-catalogue::part(data-tree-element-last-child-options) {
	border-left: solid 1px var(--gray);
}

lens-catalogue::part(data-tree-element-toggle-icon) {
	width: 28px;
	transform: rotate(0deg);
	left: -13px;
	top: -4px;
	filter: invert(29%) sepia(17%) saturate(327%) hue-rotate(163deg) brightness(92%) contrast(85%);
}

lens-catalogue::part(data-tree-element-toggle-icon-open) {
	transform: rotate(90deg);
}

lens-catalogue::part(query-add-button-icon) {
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(213deg) brightness(100%) contrast(100%);
	width: 21px;
}

lens-search-button::part(lens-search-button) {
	height: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

lens-info-button::part(info-button-icon) {
	width: 18px;
}

lens-info-button::part(info-button) {
	height: 100%;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.catalogue lens-info-button::part(info-button) {
	height: 38px;
	padding: 0;
	top: var(--gap-xs);
	right: var(--gap-xs);
	border: none;
	position: absolute;
}

.catalogue lens-info-button::part(info-button-dialogue) {
	max-width: 300px;
	text-align: left;
}

lens-info-button::part(info-button):hover {
	background-color: var(--lightest-gray);
}

lens-info-button::part(info-button):active {
	background-color: #585958;
	transform: translateX(1px);
}

lens-info-button::part(info-button-dialogue):active {
	background-color: #585958;
	transform: translateX(1px);
}

.result-table-hint-text {
	padding-top: 20px;
	display: flex;
	align-items: end;
}

:root {
	--color-gray: #3c3c3d;
	--color-orange: #e95713;
	--color-blue: #003674;
	--color-site-background: #fff;
	--color-border-light: #ced4da;
	--color-background-light-gray: #c5cfd5;
	--color-progressbar-success: var(--color-blue);
	--color-progressbar-failed: var(--color-orange);
}